<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>chatID</key>
		<integer>1335</integer>
		<key>key</key>
		<string>mother goose, shey</string>
		<key>lastMessageDate</key>
		<string>2/8/24, 11:36 AM</string>
		<key>lastMessageDateRaw</key>
		<integer>729102986118703872</integer>
		<key>messageCount</key>
		<integer>3</integer>
		<key>participants</key>
		<array>
			<string>Mother Goose</string>
			<string>Shey</string>
		</array>
	</dict>
	<dict>
		<key>chatID</key>
		<integer>1324</integer>
		<key>key</key>
		<string>haiden hunter, mother goose</string>
		<key>lastMessageDate</key>
		<string>2/19/23, 9:44 AM</string>
		<key>lastMessageDateRaw</key>
		<integer>698510697905750528</integer>
		<key>messageCount</key>
		<integer>5</integer>
		<key>participants</key>
		<array>
			<string>Haiden Hunter</string>
			<string>Mother Goose</string>
		</array>
	</dict>
	<dict>
		<key>chatID</key>
		<integer>1404</integer>
		<key>key</key>
		<string>mother goose, big d, shelley pessa, john giles</string>
		<key>lastMessageDate</key>
		<string>12/2/24, 11:01 PM</string>
		<key>lastMessageDateRaw</key>
		<integer>754891279704969600</integer>
		<key>messageCount</key>
		<integer>384</integer>
		<key>participants</key>
		<array>
			<string>Mother Goose</string>
			<string>Big D</string>
			<string>Shelley Pessa</string>
			<string>John Giles</string>
		</array>
	</dict>
	<dict>
		<key>chatID</key>
		<integer>1367</integer>
		<key>key</key>
		<string>mother goose, shelley pessa, jenhun@gmail.com</string>
		<key>lastMessageDate</key>
		<string>7/19/22, 2:06 PM</string>
		<key>lastMessageDateRaw</key>
		<integer>679946767960543616</integer>
		<key>messageCount</key>
		<integer>4</integer>
		<key>participants</key>
		<array>
			<string>Mother Goose</string>
			<string>Shelley Pessa</string>
			<string>jenhun@gmail.com</string>
		</array>
	</dict>
	<dict>
		<key>chatID</key>
		<integer>2627</integer>
		<key>key</key>
		<string>olga</string>
		<key>lastMessageDate</key>
		<string>12/8/24, 2:17 PM</string>
		<key>lastMessageDateRaw</key>
		<integer>755378277567000192</integer>
		<key>messageCount</key>
		<integer>87</integer>
		<key>participants</key>
		<array>
			<string>Olga</string>
		</array>
	</dict>
	<dict>
		<key>chatID</key>
		<integer>1429</integer>
		<key>key</key>
		<string>mother goose, kurt pessa, kpessa@gmail.com</string>
		<key>lastMessageDate</key>
		<string>11/2/21, 6:26 PM</string>
		<key>lastMessageDateRaw</key>
		<integer>657584762518208384</integer>
		<key>messageCount</key>
		<integer>2</integer>
		<key>participants</key>
		<array>
			<string>Mother Goose</string>
			<string>Kurt Pessa</string>
			<string>kpessa@gmail.com</string>
		</array>
	</dict>
	<dict>
		<key>chatID</key>
		<integer>2616</integer>
		<key>key</key>
		<string>haiden hunter, mother goose, big d, shelley pessa, john giles, keaton hunter</string>
		<key>lastMessageDate</key>
		<string>11/28/24, 7:45 PM</string>
		<key>lastMessageDateRaw</key>
		<integer>754533937465042816</integer>
		<key>messageCount</key>
		<integer>14</integer>
		<key>participants</key>
		<array>
			<string>Haiden Hunter</string>
			<string>Mother Goose</string>
			<string>Big D</string>
			<string>Shelley Pessa</string>
			<string>John Giles</string>
			<string>Keaton Hunter</string>
		</array>
	</dict>
	<dict>
		<key>chatID</key>
		<integer>2249</integer>
		<key>key</key>
		<string>mother goose, big d, jenhun@gmail.com</string>
		<key>lastMessageDate</key>
		<string>11/15/23, 4:20 PM</string>
		<key>lastMessageDateRaw</key>
		<integer>721776015333348736</integer>
		<key>messageCount</key>
		<integer>3</integer>
		<key>participants</key>
		<array>
			<string>Mother Goose</string>
			<string>Big D</string>
			<string>jenhun@gmail.com</string>
		</array>
	</dict>
	<dict>
		<key>chatID</key>
		<integer>2382</integer>
		<key>key</key>
		<string>weverton</string>
		<key>lastMessageDate</key>
		<string>7/21/24, 9:25 AM</string>
		<key>lastMessageDateRaw</key>
		<integer>743261135052910080</integer>
		<key>messageCount</key>
		<integer>77</integer>
		<key>participants</key>
		<array>
			<string>Weverton</string>
		</array>
	</dict>
	<dict>
		<key>chatID</key>
		<integer>1316</integer>
		<key>key</key>
		<string>mother goose, john giles</string>
		<key>lastMessageDate</key>
		<string>6/6/23, 7:57 AM</string>
		<key>lastMessageDateRaw</key>
		<integer>707745448286000000</integer>
		<key>messageCount</key>
		<integer>22</integer>
		<key>participants</key>
		<array>
			<string>Mother Goose</string>
			<string>John Giles</string>
		</array>
	</dict>
	<dict>
		<key>chatID</key>
		<integer>1317</integer>
		<key>key</key>
		<string>mother goose, big d, shelley pessa</string>
		<key>lastMessageDate</key>
		<string>11/9/24, 4:05 PM</string>
		<key>lastMessageDateRaw</key>
		<integer>752879106836062464</integer>
		<key>messageCount</key>
		<integer>848</integer>
		<key>participants</key>
		<array>
			<string>Mother Goose</string>
			<string>Big D</string>
			<string>Shelley Pessa</string>
		</array>
	</dict>
	<dict>
		<key>chatID</key>
		<integer>1385</integer>
		<key>key</key>
		<string>mother goose, shey, +51943720078</string>
		<key>lastMessageDate</key>
		<string>8/7/23, 12:32 PM</string>
		<key>lastMessageDateRaw</key>
		<integer>713118728523000064</integer>
		<key>messageCount</key>
		<integer>3</integer>
		<key>participants</key>
		<array>
			<string>Mother Goose</string>
			<string>Shey</string>
			<string>+51943720078</string>
		</array>
	</dict>
	<dict>
		<key>chatID</key>
		<integer>1508</integer>
		<key>key</key>
		<string>mother goose, big d, shelley pessa, lisa pessa</string>
		<key>lastMessageDate</key>
		<string>10/31/23, 2:04 PM</string>
		<key>lastMessageDateRaw</key>
		<integer>720468282365593472</integer>
		<key>messageCount</key>
		<integer>4</integer>
		<key>participants</key>
		<array>
			<string>Mother Goose</string>
			<string>Big D</string>
			<string>Shelley Pessa</string>
			<string>Lisa Pessa</string>
		</array>
	</dict>
	<dict>
		<key>chatID</key>
		<integer>1495</integer>
		<key>key</key>
		<string>mother goose, brett emmett, cara emmett-duck, trent emmett</string>
		<key>lastMessageDate</key>
		<string>2/2/23, 4:39 PM</string>
		<key>lastMessageDateRaw</key>
		<integer>697066756675862784</integer>
		<key>messageCount</key>
		<integer>82</integer>
		<key>participants</key>
		<array>
			<string>Mother Goose</string>
			<string>Brett Emmett</string>
			<string>Cara Emmett-Duck</string>
			<string>Trent Emmett</string>
		</array>
	</dict>
	<dict>
		<key>chatID</key>
		<integer>1490</integer>
		<key>key</key>
		<string>haiden hunter, mother goose, big d, shelley pessa</string>
		<key>lastMessageDate</key>
		<string>1/1/24, 3:11 PM</string>
		<key>lastMessageDateRaw</key>
		<integer>725832676843122688</integer>
		<key>messageCount</key>
		<integer>33</integer>
		<key>participants</key>
		<array>
			<string>Haiden Hunter</string>
			<string>Mother Goose</string>
			<string>Big D</string>
			<string>Shelley Pessa</string>
		</array>
	</dict>
	<dict>
		<key>chatID</key>
		<integer>1469</integer>
		<key>key</key>
		<string>haiden hunter, mother goose, big d, shelley pessa, keaton hunter</string>
		<key>lastMessageDate</key>
		<string>11/20/23, 9:15 AM</string>
		<key>lastMessageDateRaw</key>
		<integer>722182545687669760</integer>
		<key>messageCount</key>
		<integer>8</integer>
		<key>participants</key>
		<array>
			<string>Haiden Hunter</string>
			<string>Mother Goose</string>
			<string>Big D</string>
			<string>Shelley Pessa</string>
			<string>Keaton Hunter</string>
		</array>
	</dict>
	<dict>
		<key>chatID</key>
		<integer>1406</integer>
		<key>key</key>
		<string>mother goose, big d, lisa pessa</string>
		<key>lastMessageDate</key>
		<string>11/23/23, 7:14 AM</string>
		<key>lastMessageDateRaw</key>
		<integer>722434476582565504</integer>
		<key>messageCount</key>
		<integer>11</integer>
		<key>participants</key>
		<array>
			<string>Mother Goose</string>
			<string>Big D</string>
			<string>Lisa Pessa</string>
		</array>
	</dict>
	<dict>
		<key>chatID</key>
		<integer>2308</integer>
		<key>key</key>
		<string>mother goose, big d, brett emmett, marque hunter</string>
		<key>lastMessageDate</key>
		<string>2/24/24, 9:12 PM</string>
		<key>lastMessageDateRaw</key>
		<integer>730519938484535424</integer>
		<key>messageCount</key>
		<integer>10</integer>
		<key>participants</key>
		<array>
			<string>Mother Goose</string>
			<string>Big D</string>
			<string>Brett Emmett</string>
			<string>Marque Hunter</string>
		</array>
	</dict>
	<dict>
		<key>chatID</key>
		<integer>176</integer>
		<key>key</key>
		<string>mother goose, +51943720078, nubia peredes</string>
		<key>lastMessageDate</key>
		<string>3/6/22, 8:52 AM</string>
		<key>lastMessageDateRaw</key>
		<integer>668267562275743744</integer>
		<key>messageCount</key>
		<integer>1</integer>
		<key>participants</key>
		<array>
			<string>Mother Goose</string>
			<string>+51943720078</string>
			<string>Nubia Peredes</string>
		</array>
	</dict>
	<dict>
		<key>chatID</key>
		<integer>1331</integer>
		<key>key</key>
		<string>mother goose, +15616025574</string>
		<key>lastMessageDate</key>
		<string>9/22/21, 9:05 PM</string>
		<key>lastMessageDateRaw</key>
		<integer>654051917717000064</integer>
		<key>messageCount</key>
		<integer>3</integer>
		<key>participants</key>
		<array>
			<string>Mother Goose</string>
			<string>+15616025574</string>
		</array>
	</dict>
	<dict>
		<key>chatID</key>
		<integer>1362</integer>
		<key>key</key>
		<string>mother goose, big d, shelley pessa, cara emmett-duck</string>
		<key>lastMessageDate</key>
		<string>1/7/23, 6:21 PM</string>
		<key>lastMessageDateRaw</key>
		<integer>694826515563133696</integer>
		<key>messageCount</key>
		<integer>17</integer>
		<key>participants</key>
		<array>
			<string>Mother Goose</string>
			<string>Big D</string>
			<string>Shelley Pessa</string>
			<string>Cara Emmett-Duck</string>
		</array>
	</dict>
	<dict>
		<key>chatID</key>
		<integer>1370</integer>
		<key>key</key>
		<string>mother goose, shelley pessa, john giles</string>
		<key>lastMessageDate</key>
		<string>12/18/23, 12:32 PM</string>
		<key>lastMessageDateRaw</key>
		<integer>724613554208957952</integer>
		<key>messageCount</key>
		<integer>7</integer>
		<key>participants</key>
		<array>
			<string>Mother Goose</string>
			<string>Shelley Pessa</string>
			<string>John Giles</string>
		</array>
	</dict>
	<dict>
		<key>chatID</key>
		<integer>1432</integer>
		<key>key</key>
		<string>mother goose, brett emmett</string>
		<key>lastMessageDate</key>
		<string>2/2/23, 3:42 PM</string>
		<key>lastMessageDateRaw</key>
		<integer>697063379396749696</integer>
		<key>messageCount</key>
		<integer>10</integer>
		<key>participants</key>
		<array>
			<string>Mother Goose</string>
			<string>Brett Emmett</string>
		</array>
	</dict>
	<dict>
		<key>chatID</key>
		<integer>1430</integer>
		<key>key</key>
		<string>mother goose, ale lijoi</string>
		<key>lastMessageDate</key>
		<string>2/26/22, 3:07 PM</string>
		<key>lastMessageDateRaw</key>
		<integer>667598829836829952</integer>
		<key>messageCount</key>
		<integer>1</integer>
		<key>participants</key>
		<array>
			<string>Mother Goose</string>
			<string>Ale Lijoi</string>
		</array>
	</dict>
	<dict>
		<key>chatID</key>
		<integer>1436</integer>
		<key>key</key>
		<string>mother goose, jackie algood</string>
		<key>lastMessageDate</key>
		<string>2/24/24, 3:43 PM</string>
		<key>lastMessageDateRaw</key>
		<integer>730500193540500224</integer>
		<key>messageCount</key>
		<integer>14</integer>
		<key>participants</key>
		<array>
			<string>Mother Goose</string>
			<string>Jackie Algood</string>
		</array>
	</dict>
	<dict>
		<key>chatID</key>
		<integer>2396</integer>
		<key>key</key>
		<string>wevertonlinhares24@gmail.com</string>
		<key>lastMessageDate</key>
		<string>7/14/24, 10:20 AM</string>
		<key>lastMessageDateRaw</key>
		<integer>742659634814861312</integer>
		<key>messageCount</key>
		<integer>10</integer>
		<key>participants</key>
		<array>
			<string>wevertonlinhares24@gmail.com</string>
		</array>
	</dict>
	<dict>
		<key>chatID</key>
		<integer>1403</integer>
		<key>key</key>
		<string>mother goose, shelley pessa</string>
		<key>lastMessageDate</key>
		<string>12/5/24, 11:56 AM</string>
		<key>lastMessageDateRaw</key>
		<integer>755110586366000128</integer>
		<key>messageCount</key>
		<integer>435</integer>
		<key>participants</key>
		<array>
			<string>Mother Goose</string>
			<string>Shelley Pessa</string>
		</array>
	</dict>
	<dict>
		<key>chatID</key>
		<integer>17</integer>
		<key>key</key>
		<string>mother goose, big d, shelley pessa, lisa pessa, john giles</string>
		<key>lastMessageDate</key>
		<string>9/3/24, 2:25 PM</string>
		<key>lastMessageDateRaw</key>
		<integer>747080736723502208</integer>
		<key>messageCount</key>
		<integer>28</integer>
		<key>participants</key>
		<array>
			<string>Mother Goose</string>
			<string>Big D</string>
			<string>Shelley Pessa</string>
			<string>Lisa Pessa</string>
			<string>John Giles</string>
		</array>
	</dict>
	<dict>
		<key>chatID</key>
		<integer>1411</integer>
		<key>key</key>
		<string>mother goose, +51943720078</string>
		<key>lastMessageDate</key>
		<string>3/16/22, 9:30 AM</string>
		<key>lastMessageDateRaw</key>
		<integer>669130226122869504</integer>
		<key>messageCount</key>
		<integer>54</integer>
		<key>participants</key>
		<array>
			<string>Mother Goose</string>
			<string>+51943720078</string>
		</array>
	</dict>
	<dict>
		<key>chatID</key>
		<integer>2351</integer>
		<key>key</key>
		<string>trent aaron, weverton</string>
		<key>lastMessageDate</key>
		<string>4/15/24, 6:30 PM</string>
		<key>lastMessageDateRaw</key>
		<integer>734913009547205888</integer>
		<key>messageCount</key>
		<integer>3</integer>
		<key>participants</key>
		<array>
			<string>Trent Aaron</string>
			<string>Weverton</string>
		</array>
	</dict>
	<dict>
		<key>chatID</key>
		<integer>1308</integer>
		<key>key</key>
		<string>mother goose, big d</string>
		<key>lastMessageDate</key>
		<string>12/3/24, 8:29 PM</string>
		<key>lastMessageDateRaw</key>
		<integer>754968579912918144</integer>
		<key>messageCount</key>
		<integer>340</integer>
		<key>participants</key>
		<array>
			<string>Mother Goose</string>
			<string>Big D</string>
		</array>
	</dict>
	<dict>
		<key>chatID</key>
		<integer>2395</integer>
		<key>key</key>
		<string>mother goose, +18067899191</string>
		<key>lastMessageDate</key>
		<string>6/11/24, 8:21 PM</string>
		<key>lastMessageDateRaw</key>
		<integer>739844467654355968</integer>
		<key>messageCount</key>
		<integer>1</integer>
		<key>participants</key>
		<array>
			<string>Mother Goose</string>
			<string>+18067899191</string>
		</array>
	</dict>
	<dict>
		<key>chatID</key>
		<integer>378</integer>
		<key>key</key>
		<string>mother goose</string>
		<key>lastMessageDate</key>
		<string>7/4/23, 12:03 PM</string>
		<key>lastMessageDateRaw</key>
		<integer>710179399906176000</integer>
		<key>messageCount</key>
		<integer>1</integer>
		<key>participants</key>
		<array>
			<string>Mother Goose</string>
		</array>
	</dict>
	<dict>
		<key>chatID</key>
		<integer>1467</integer>
		<key>key</key>
		<string>brian battistone, trent aaron, weverton</string>
		<key>lastMessageDate</key>
		<string>7/16/23, 8:49 PM</string>
		<key>lastMessageDateRaw</key>
		<integer>711247777442949248</integer>
		<key>messageCount</key>
		<integer>13</integer>
		<key>participants</key>
		<array>
			<string>Brian Battistone</string>
			<string>Trent Aaron</string>
			<string>Weverton</string>
		</array>
	</dict>
	<dict>
		<key>chatID</key>
		<integer>2368</integer>
		<key>key</key>
		<string>mother goose, jessenia collazos paredes</string>
		<key>lastMessageDate</key>
		<string>5/10/24, 10:15 AM</string>
		<key>lastMessageDateRaw</key>
		<integer>737043327657287296</integer>
		<key>messageCount</key>
		<integer>2</integer>
		<key>participants</key>
		<array>
			<string>Mother Goose</string>
			<string>Jessenia Collazos Paredes</string>
		</array>
	</dict>
	<dict>
		<key>chatID</key>
		<integer>2385</integer>
		<key>key</key>
		<string>mother goose, big d, cara emmett-duck</string>
		<key>lastMessageDate</key>
		<string>6/22/24, 6:37 PM</string>
		<key>lastMessageDateRaw</key>
		<integer>740788653571189376</integer>
		<key>messageCount</key>
		<integer>23</integer>
		<key>participants</key>
		<array>
			<string>Mother Goose</string>
			<string>Big D</string>
			<string>Cara Emmett-Duck</string>
		</array>
	</dict>
	<dict>
		<key>chatID</key>
		<integer>1494</integer>
		<key>key</key>
		<string>mother goose, jenhun@gmail.com</string>
		<key>lastMessageDate</key>
		<string>11/12/24, 9:54 PM</string>
		<key>lastMessageDateRaw</key>
		<integer>753159290320156544</integer>
		<key>messageCount</key>
		<integer>1</integer>
		<key>participants</key>
		<array>
			<string>Mother Goose</string>
			<string>jenhun@gmail.com</string>
		</array>
	</dict>
</array>
</plist>
